/* ./src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Somar';
    src: url('Somar-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Somar';
    src: url('Somar-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500&display=swap');